# Source code 
src/
*.ts

# Tests
test/
src/**/*.test.ts
dist/test.js
dist/**/*.test.js

# Configs
tsconfig.json
tsconfig.*.json
jest.config.js
*.eslintrc.js
*.eslint.json
*.prettierrc
*.prettierignore

# Logs and environment
*.log
.env
.env.*

# Node modules
node_modules/

# Source maps
dist/**/*.map

